:root {
  --main-theme-color: #2d3250;
  --secondary-theme-color: #424769;
  --main-color-text: #f6b17a;
  --secondary-color-text: #7077a1;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--main-color-text);
  background: var(--main-theme-color);
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
